# azure-pipelines.yml
# MSTest + Selenium on self-hosted Windows agent

trigger:
- master   # or: - main

pool:
  name: Default

variables:
  BuildConfiguration: 'Release'
  RunSettingsPath: '$(Build.SourcesDirectory)\QAS.runsettings'
  ResultsDir: '$(Common.TestResultsDirectory)'

steps:
- checkout: self
  clean: true

# sanity: show the runsettings file (helps avoid null URL)
- script: |
    echo CD=%CD%
    echo RUNSETTINGS: $(RunSettingsPath)
    type "$(RunSettingsPath)"
  displayName: Sanity: show QAS.runsettings

- script: dotnet restore
  displayName: Restore

- script: dotnet build --configuration $(BuildConfiguration)
  displayName: Build

- script: >
    dotnet test
    --configuration $(BuildConfiguration)
    --settings "$(RunSettingsPath)"
    --logger "trx;LogFileName=TestResults.trx"
    --results-directory "$(ResultsDir)"
  displayName: Test

- task: PublishTestResults@2
  displayName: Publish Test Results
  inputs:
    testResultsFormat: VSTest
    testResultsFiles: '$(ResultsDir)\*.trx'
    failTaskOnFailedTests: true
  condition: succeededOrFailed()
