trigger:
  - master

pool:
  name: Default

steps:
  - checkout: self
    clean: true

  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '8.x'

  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: '**/WebAppAutomation.csproj'

  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      projects: '**/WebAppAutomation.csproj'
      arguments: '--configuration Release'

  - task: DotNetCoreCLI@2
    displayName: Test
    inputs:
      command: test
      projects: '**/WebAppAutomation.csproj'
      arguments: '--configuration Release --logger "trx;LogFileName=testresults.trx" --results-directory "$(Build.SourcesDirectory)/TestResultsOutput"'
      publishTestResults: false

  - task: CopyFiles@2
    displayName: 'Copy Test Results'
    inputs:
      # Look for the .trx file anywhere in the source folder
      contents: 'TestResultsOutput/testresults.trx'
      # Copy it to the staging directory
      targetFolder: '$(Build.ArtifactStagingDirectory)'

  - task: PublishTestResults@2
    displayName: "Publish Test Results"
    inputs:
      testResultsFormat: VSTest
      testResultsFiles: '$(Build.ArtifactStagingDirectory)/testresults.trx'
      failTaskOnFailedTests: true