# azure-pipelines.yml  (repo root)
trigger:
- main

pool:
  name: Default   # your self-hosted pool

variables:
  BuildConfiguration: 'Release'
  TestProject: '**/WebAppAutomation.csproj'
  RunSettingsPath: '$(System.DefaultWorkingDirectory)/QAS.runsettings'
  ResultsDir: '$(Common.TestResultsDirectory)'

steps:
- checkout: self
  clean: true

- script: |
    echo CD=%CD%
    echo RunSettings should be here: $(RunSettingsPath)
    type "$(RunSettingsPath)"
  displayName: Sanity: show QAS.runsettings

- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: restore
    projects: '$(TestProject)'

- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: '$(TestProject)'
    arguments: '--configuration $(BuildConfiguration) /warnaserror-'

- task: DotNetCoreCLI@2
  displayName: Test
  inputs:
    command: test
    projects: '$(TestProject)'
    arguments: >
      --configuration $(BuildConfiguration)
      --settings "$(RunSettingsPath)"
      --logger "trx;LogFileName=TestResults.trx"
      --results-directory "$(ResultsDir)"

- task: PublishTestResults@2
  displayName: Publish Test Results
  inputs:
    testResultsFormat: VSTest
    testResultsFiles: '$(ResultsDir)/*.trx'
    failTaskOnFailedTests: true
  condition: succeededOrFailed()
