trigger:
  - master

pool:
  name: Default
  demands:
    - agent.os -equals Linux

steps:
  - checkout: self
    clean: true

  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '8.x'

  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: '**/WebAppAutomation.csproj'

  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      projects: '**/WebAppAutomation.csproj'
      arguments: '--configuration Release'

  - task: DotNetCoreCLI@2
    displayName: "Test"
    inputs:
      command: test
      projects: '**/WebAppAutomation.csproj'
      arguments: '--configuration Release -- --report-trx --report-trx-filename testresults.trx --results-directory "$(Build.SourcesDirectory)/TestResultsOutput"'
      publishTestResults: false

  - task: PublishTestResults@2
    displayName: "Publish Test Results"
    condition: always()
    inputs:
      testResultsFormat: VSTest
      testResultsFiles: '$(Build.SourcesDirectory)/TestResultsOutput/testresults.trx'
      failTaskOnFailedTests: true
